@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter_24pt-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter_24pt-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter_24pt-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter_24pt-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-primary: 'Inter', 'serif';
  --color-bg-grey: #f6f5fa;
  --color-border-grey: #898b94;
  --color-border-lightGrey: #dcdde5;
  --color-border-grey: #ecebf0;
  --color-primary: #2a2c36;
  --color-secondary: #636570;
  --color-light-green: #8fba3e;
  --color-green: #74b200;
  --color-red: #f33939;
}

body {
  @apply text-primary bg-bg-grey font-primary px-8 leading-[140%] antialiased;
}
